<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/bootstrap/favicon.ico">

    <title>App List</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../static/bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../static/bootstrap/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../static/bootstrap/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="../../static/js/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Lvmama iOS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          {% if can_add_app %}
	         <li><a href="/lvmamaios/create_app/">Create App</a></li>
          {% endif %}
            <li><a href="#">{{username}}</a></li>
	    <li><a href="/lvmamaios/signout/">Sign Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
 </nav>

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/lvmamaios/index">Overview<span class="sr-only">(current)</span></a></li>
            <li><a href="/lvmamaios/article_list">Articles<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#">Apps<span class="sr-only">(current)</span></a></li>
            <li><a href="/lvmamaios/all_module_do_something">All Modules<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">App List</h1>
  <ul class="nav nav-tabs" id="lvmamatap">
  {% for app in apps %}
  {% if forloop.counter == 1 %}
  <li role="presentation" class="active"><a href="#{{app.app_name}}">{{app.app_name}}</a></li>
  {% else %}
  <li role="presentation"><a href="#{{app.app_name}}">{{app.app_name}}</a></li>
  {% endif %}
  {% endfor %}
  </ul>
<br>

<div class="tab-content">

{% for app_versions in versions %}
{% load tags %}
{% with lookup_result=apps|lookup:forloop.counter %}
  {% if forloop.counter == 1 %}
    <div class="tab-pane active" id="{{lookup_result.app_name}}">
  {% else %}
    <div class="tab-pane" id="{{lookup_result.app_name}}">
  {% endif %}
        <table class="table table-hover">
            </br>
            <thead>
            <tr>
                <th style="text-align:center;">版本号</th>
                <th style="text-align:center;">是否RC</th>
                {% if can_delete_appversion %}
                <th style="text-align:center;">操作</th>
                {% endif %}
            </tr>
            </thead>
            <tbody class="lvmama">
            {% if can_add_appversion %}
            <tr>
            <button type="button" class="btn btn-primary">
              <a href="/lvmamaios/add_new_appversion/{{lookup_result.id}}"><font color="#ffffff">Add New App Version</font></a>
            </button>
            </tr>
            {% endif %}
            {% for app_version in app_versions %}
            <tr>
                <td style="text-align:center;"><a href="/lvmamaios/app_version/{{app_version.id}}">{{app_version.app_version}}</a></td>
                  {% if app_version.is_rc == True %}
                    <td style="text-align:center; " onclick="tdclick(this)"><span class="label label-success">RC</span></td>
                  {% else %}
                    <td style="text-align:center; " onclick="tdclick(this)"></td>
                  {% endif %}
                  {% if can_delete_appversion %}
                  <td style="text-align:center; " onclick="deletetr(this)">  
                    <button type="button"  class="btn btn-xs btn-link">
                    <a href="/lvmamaios/delete_appversion/{{ app_version.id }}">Delete</a>
                    </button>  
                  </td>
                  {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endwith %}
{% endfor %}
</div>

</div>

<script type="text/javascript">
$('#lvmamatap a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        var hrefStr = $(this).attr('href').replace('#','');
        //console.log(hrefStr);
        updateTable('.'+hrefStr);
    });

    function updateTable(tbody) {
        $(tbody).find('tr').each(function () {
            var html ="";
            var rowElement = $(this);
            $(this).find('td').each(function () {
                
            })
        });
    }
    {% if apps.count > 0 %}
    updateTable('.{{apps.first.app_name}}');
    {% endif %}
    setInterval("document.getElementById('time1').innerHTML = new Date().toLocaleString();", 1000);
</script>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../static/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../static/bootstrap/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>