<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>首页</title>
</head>

<body>
<h1>welcome {{username}} !</h1>
<br>
<a href="http://127.0.0.1:8000/lvmamaios/logout/">退出</a>
<a href="http://127.0.0.1:8000/lvmamaios/create_project/">创建工程</a>
<p>
	{% for project in projects %}
	<li>工程：<a href="http://127.0.0.1:8000/lvmamaios/project/{{ project.id }}">{{project.project_name}}</a>	    状态：{{project.project_status}}    <a href="http://127.0.0.1:8000/lvmamaios/delete/{{ project.id }}">删除</a></li>
	{% endfor %}
</p>
</body>
</html>